/**
 * VideoPlayer Styles
 * 
 * Following Pauser Design Language:
 * - Background: #0B0D0F
 * - Minimal, distraction-free
 */

.playerContainer {
  position: relative;
  width: 100%;

  aspect-ratio: 16 / 9;
  background-color: #0B0D0F;
  border-radius: 8px;
  overflow: hidden;
}

.playerContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
