/**
 * VideoPlayer Styles
 * 
 * Following Pauser Design Language:
 * - Background: #0B0D0F
 * - Minimal, distraction-free
 */

.playerContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  background-color: #0B0D0F;
  border-radius: 8px;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
